body{
    background-color: pink;
}
h1{
    color: grey;
    text-align: center;
}
p1{
    color:grey;
    text-align: center;
}
img{
    width: 130px;
    height: 150px;
}
li{
    color: grey;
    text-align: center;
}
p{
    color: grey;
    text-align: center;
}
a{
    color: lightpink;
    text-align: center;
}
p1{
    color: grey;
    text-align: center;
}